<header>
  
  <hr>
  
  <div>
    <h2 class="congrats">Congratulations!</h2>
    <h2>Seeing this means you have a module.</h2>

    <p>Now that you have the easiest and most-powerful Backbone boilerplate available,
    you're probably wondering how to use it to start building applications...</p>
  </div>
</header>



<section id="sectional1">
  <h2>Useful resources</h2>

  <ul>
    <li><a target="blank" href="http://backbonejs.org/">Backbone documentation</a> - Framework on which Backbone Boilerplate is built.
    <li><a target="blank" href="http://documentcloud.github.com/underscore/docs/underscore.html">Underscore documentation</a> - Required dependency for Backbone.
  </ul>
</section>
