  <style type="text/css">
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* ---- Start CSS ---- */

#wrap {
    width: 640px;
    margin: 0 auto;
    font: bold 18px 'Myriad Pro', Arial, Helvetica, sans-serif;
}

#nav li {
    float: left;
    margin: 0 20px;
}

#nav li a {
    display: block;
    width: 120px;
    height: 80px;
    background: #AA030B;
    padding: 70px 0 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    text-decoration: none;
    position: relative;
}

#nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 135px;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0;
    border-style: solid;
    border-color: transparent transparent #fff;
}​

  </style>

<style type="text/css">
.nav {
  margin:0;
  padding:0;
  background:url("./assets/img/TopRibbonDown.png") no-repeat;
}

.nav a, .nav a:link, .nav a:visited {
  display:block;
  width: 68px;
  height: 155px;
}

.nav a:hover img {
  visibility:hidden;
}

.spriteBack {
  margin:0;
  padding:0;
  background:url("./assets/img/TopRibbonUp.png") no-repeat;
}


.spriteBack a, .spriteBack a:link, .spriteBack a:visited {
  display:block;
  width: 68px;
  height: 155px;
}

.spriteBack a:hover img {
  visibility:hidden;
}
HEADER{
 display:inline;
}
.spriteBack{
 display:inline;
}
<style>

</style>
 



 <!--header>
  <img src="/assets/img/nashheader5.png">  <div class="spriteBack"><a href="#"><img src="./assets/img/TopRibbonUp.png" alt="" /></a></div
  <div class="spriteBack"><a href="#"><img src="./assets/img/TopRibbonUp.png" alt="" /></a></div
  <div class="spriteBack"><a href="#"><img src="./assets/img/TopRibbonUp.png" alt="" /></a></div>
  <div class="spriteBack"><a href="#"><img src="./assets/img/TopRibbonUp.png" alt="" /></a></div>

</header-->

end header
  <div class="nav">
    <a href="#"><img src="./assets/img/TopRibbonUp.png" alt="" /></a>
  </div>

  <div id="wrapx">
      <ul id="navx">
          <li class="spriteBack"><a href="#"><img src="./assets/img/TopRibbonUp.png" alt="" /></a></li>
          <li class="spriteBack"><a href="#"><img src="./assets/img/TopRibbonUp.png" alt="" /></a></li>
          <li class="spriteBack"><a href="#"><img src="./assets/img/TopRibbonUp.png" alt="" /></a></li>
          <li class="spriteBack"><a href="#"><img src="./assets/img/TopRibbonUp.png" alt="" /></a></li>
      </ul>
  </div>​

  <div id="wrap">
      <ul id="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
  </div>​



