<!--header>
  <img src="/assets/img/nashheader9.png" height="100px">
  <hr>
  <div>
    <h2 class="congrats">Header!</h2>
    <h2>Seeing this means you have installed Backbone Boilerplate correctly.</h2>

    <p>Now that you have the easiest and most-powerful Backbone boilerplate available,
    you're probably wondering how to use it to start building applications...</p>
  </div>
</header-->
<!--style type="text/css">

#headerNav li {
    float: left;
    margin: 0 20px;
    height: 100px;
}

#headerNav li img{
     height: 100px;
} 

#headerNav li {
  margin:0;
  padding:0;
  height: 100px;

}

#menuNav a, #menuNav a:link, #menuNav a:visited {
  width: 68px;
  height: 100px;
}

#menuNav li {
  background:url("./assets/img/TopRibbonUp.png") no-repeat bottom;
}

#menuNav a:hover img {
  visibility:hidden;
}

/*
#menuNav a {
  background:url("./assets/img/TopRibbonUp.png") no-repeat;
  background-position: 0px -5px;  
}
#menuNav a:hover {
  background-position: 0px 0px;
}*/

/*
#headerNav li a {
    display: block;
    width: 120px;
    height: 80px;
    background: #AA030B;
    padding: 70px 0 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    text-decoration: none;
    position: relative;
}

#headerNav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 135px;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0;
    border-style: solid;
    border-color: transparent transparent #fff;
}​

.nav {
  margin:0;
  padding:0;
  background:url("./assets/img/TopRibbonDown.png") no-repeat;
}

.nav a, .nav a:link, .nav a:visited {
  display:block;
  width: 68px;
  height: 155px;
}

.nav a:hover img {
  visibility:hidden;
}
*/
</style-->
 <!--nav id="headerNav">
  <ul>
   <li><a href="/"><img src="/assets/img/NashHeaderUp.png" height="100px"></a></li>
   <li>
      <ul id="menuNav">
       <li id="linkOne"><a href="/"><img src="./assets/img/TopRibbonDown.png" alt="" /></a></li>
      </ul>    
   </li>
  </ul>
 </nav-->

<style type="text/css">

.backgroundGradient {
  height:100px;
  background-image: -moz-linear-gradient(top, #000000, #ffffff); /* FF3.6 */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #ffffff)); /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(top, #000000, #ffffff); /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(top, #000000, #ffffff); /* Opera 11.1+ */
  background-image: -ms-linear-gradient(top, #000000, #ffffff); /* IE10+ */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff')"; /* IE8+ */
  background-image: linear-gradient(top, #000000, #ffffff);

}

.backgroundWhiteGradient {
  height:100px;
  background-image: -moz-linear-gradient(top, #cccccc, #ffffff); /* FF3.6 */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #ffffff)); /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(top, #cccccc, #ffffff); /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(top, #cccccc, #ffffff); /* Opera 11.1+ */
  background-image: -ms-linear-gradient(top, #cccccc, #ffffff); /* IE10+ */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff')"; /* IE8+ */
  background-image: linear-gradient(top, #cccccc, #ffffff);

}

#headerNav li {
    float: left;
    margin: 0 20px;
    height: 100px;
}
/*
#headerNav li img{
     height: 100px;
} */

#headerNav li {
  margin:0;
  padding:0;
  /*border-top: 2px solid #BD3939;*/
  /*height: 100px;*/

}

</style>

<style type="text/css">
.cf {
  position:relative;
  height:100px;
  width:65px;
  margin:0 auto;  
}
.cf .top, .cf .bottom {
  position:absolute;
  left:0;
  top:0;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out; 
  transition: opacity .25s ease-in-out;

}

.cf img.top:hover {
  opacity:0;
}

.thumb{
  position:absolute;  
  left:9px;
  bottom:45px;
/*
box-shadow: 
  0 1px 1px #333, 
  0 -1px 1px #666, 
  inset 0 -1px 1px rgba(0,0,0,0.5), 
  inset 0 1px 1px rgba(255,255,255,0.8); 
*/

  border: outset #bd3939 1px;

}
</style>

<style type="text/css">

    /*Border-Gradient*/
    .g {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255)));
    background-image: -moz-linear-gradient(center bottom, rgb(14,173,173) 33%, rgb(0,255,255) 67% );
    padding: 2px;
    }

    /*.g > div { background: #fff; }*/
</style>

<style type="text/css">
/**CREDIT**- Inspiration - Subtle Patterns:  **/;
.header .inner-header
{
  width:250px;
  margin: 0 auto;
  position:relative;
}

.jsthumblogo {
  position:absolute;
  top:20px;
  left:444px;
  background-position: 0px -5px;
  z-index: 5000; 
}

.jsthumblogo a {
  background: url('./assets/img/jsthumb.jpg') no-repeat;
  width: 30px;
  height:40px;
  display:block;
  background-position: 0px 5px;
  text-indent:-9999px;
  -webkit-transition: 0.10s ease-in;
  -moz-transition: 0.10s ease-in;
  
}

.jsthumblogo a:hover {
  background-position: 0px 0px;

}

.htmlthumblogo {
  position:absolute;
  top:15px;
  left:379px;
  background-position: 0px -5px;
  z-index: 4000;
}

.htmlthumblogo a {
  background: url('./assets/img/htmlthumb2.png') no-repeat;
  width: 30px;
  height:40px;
  display:block;
  background-position: 0px 5px;
  text-indent:-9999px;
  -webkit-transition: 0.10s ease-in;
  -moz-transition: 0.10s ease-in;
  
}

.htmlthumblogo a:hover {
  background-position: 0px 0px;

}
.backbonethumblogo {
  position:absolute;
  top:20px;
  left:510px;
  background-position: 0px -5px;
  z-index: 4000;
}

.backbonethumblogo a {
  background: url('./assets/img/backbonethumb.png') no-repeat;
  width: 30px;
  height:40px;
  display:block;
  background-position: 0px 5px;
  text-indent:-9999px;
  -webkit-transition: 0.10s ease-in;
  -moz-transition: 0.10s ease-in;
}

.backbonethumblogo a:hover {
  background-position: 0px 0px;

}
.cssthumblogo {
  position:absolute;
  top:15px;
  left:575px;
  background-position: 0px -5px;
  z-index: 4000;
}

.cssthumblogo a {
  background: url('./assets/img/cssthumb2.png') no-repeat;
  width: 30px;
  height:40px;
  display:block;
  background-position: 0px 5px;
  text-indent:-9999px;
  -webkit-transition: 0.10s ease-in;
  -moz-transition: 0.10s ease-in;
  
}

.cssthumblogo a:hover {
  background-position: 0px 0px;

}

</style>


<style type="text/css">
 #headerNav LI:nth-child(2){
    margin-left:20px;
 }
</style>


<div class="inner-header">
      <div class="jsthumblogo">
      <a href="/">Subtle patterns</a>   
      </div>
      <div class="htmlthumblogo">
      <a href="/">44</a>   
      </div>
      <div class="backbonethumblogo">
      <a href="/">44</a>   
      </div>
      <div class="cssthumblogo">
      <a href="/">44</a>   
      </div>
 </div> 
    


<div class="g">


<div class="backgroundWhiteGradient">

 <nav id="headerNav">
  <ul>
   <li><a href="/"><img src="/assets/img/NashHeader_SuperSpace_9.png" height="100px"></a></li>
   <!--li><a href="/"><img src="/assets/img/NashHeaderUp.png" height="100px"></a></li-->
   <li>
     <div class="cf">
      <a href=""><img class="bottom" src="./assets/img/TopRibbonUp.png" /></a> 
      <a href=""><img class="top" src="./assets/img/TopRibbonRipple.png" /></a>  
     </div>    
   </li>
   <li>
     <div class="cf">
      <a href=""><img class="bottom" src="./assets/img/TopRibbonUp.png" /></a>
      <a href=""><img class="top" src="./assets/img/TopRibbonRipple.png" /></a>  
   </div>    
   </li>
   </li>
   <li>
     <div class="cf">
      <a href=""><img class="bottom" src="./assets/img/TopRibbonUp.png" />
</a>      <a href=""><img class="top" src="./assets/img/TopRibbonRipple.png" /></a>  
    </div>    
   </li>
   <li>
     <div class="cf">
      <a href=""><img class="bottom" src="./assets/img/TopRibbonUp.png" />
</a>      <a href=""><img class="top" src="./assets/img/TopRibbonRipple.png" /></a>  
  </a>  </div>    
   </li>
  </ul>
 </nav>

</div>


</div>

<style type="text/css">
a[href*="github.com"]{
    padding-left:18px;
    background:url(http://www.google.com/s2/u/0/favicons?domain=gist.github.com) left center no-repeat;
}​
</style>

<a href=http://github.com>Switch AMD Header Module</a>​
<a href=http://github.com>GitHub</a>​

 <!--div class="cf">
  <a href=""><img class="bottom" src="./assets/img/TopRibbonUp.png" />
</a>  <a href=""><img class="top" src="./assets/img/TopRibbonRipple.png" /></a>  
  <a href=""><img class="thumb" src="./assets/img/jsthumb.jpg" />  
</d</a>iv>

 <div class="cf">
  <a href=""><img class="bottom" src="./assets/img/TopRibbonUp.png" />
</a>  <a href=""><img class="top" src="./assets/img/TopRibbonRipple.png" /></a>  
  <a href=""><img class="thumb" src="./assets/img/htmlthumb.png" />  
<</a>/div-->
<!--header style="background:black; width:100%;">
  <div id="logoBox" style="border:1px black inset; float:left; width:30%">Logo</div>
  <div id="menuBox" style="border:1px red inset; float:left; width:70%">Menu</div>
</header-->

<!--style type="text/css">

#header {
margin-left: 0;
margin-bottom: 85px;
background-image: url(images/top_line_bg.png);
height: 98px;
}

#header .inner-header {
width: 950px;
margin: 0 auto;
position: relative;
}

#jsthumblogo {
position: absolute;
left: 400px;
background-position: 0px -5px;
z-index: 5000;
}

#topmenu {
position: absolute;
top: 13px;
left: 0px;
}

#topmenu .menu {
margin: 0;
list-style: none;
}

#topmenu .menu li {
float: left;
margin-right: 0;
padding-bottom: 11px;
letter-spacing: 1px;
}

</style-->


<!--div id="header">
    <div class="inner-header">
      <div id="jsthumblogo">
      <a href="/">Subtle patterns</a>   
      </div>
      
      <div id="topmenu">
          <div class="menu">
            <div class="menu-main-container"><ul id="menu-main" class="menu"><li id="menu-item-1026" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1026"><a href="http://subtlepatterns.com/">Home</a></li>
<li id="menu-item-1028" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1028"><a href="http://subtlepatterns.com/?page_id=343">Snacks</a></li>
<li id="menu-item-1029" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1029"><a href="http://subtlepatterns.com/?page_id=871">Submit</a></li>
<li id="menu-item-1027" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1027"><a href="http://subtlepatterns.com/?page_id=890">About</a></li>
</ul></div>         </div>
      </div>

      <div id="submenu">
        
        <div id="topSearch">
          

<div class="search">
  
  <form method="get" class="searchform" id="searchform-1" action="http://subtlepatterns.com/">
    
    <div>
      <input class="searchtext" type="text" name="s" id="searchtext-1" value="Tip: Search for light or dark" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
      <input type="submit" class="searchsubmit" name="submit" id="searchsubmit-1" value="Search">
    </div>
  
  </form>

</div>
        </div>            
      </div>

  
        <ul id="socialbar">  
            <li class="facebook"><a href="http://www.facebook.com/subtlepatterns">Facebook</a></li>  
            <li class="twitter"><a href="http://www.twitter.com/subtlepattern">Twitter</a></li>  
            <li class="rss"><a href="http://feeds.feedburner.com/SubtlePatterns">RSS</a></li>  
        </ul>  
          

    </div>
  </div-->
